#navbar{
    height: 50px;
}
#navbar ul{
    list-style-type: none;
    padding: 0;
    text-align: right;
    word-spacing: 115%;
    margin-right: 10px;
    margin-top: 20px;
    font-family: arial,sans-serif;
    font-size: 17px;
}
#navbar li{
    display: inline-block;
}
#google_profile_picture{
    background-color: black;
    width: 19px;
    border-radius: 400px;
}

#search{
    text-align: center;
    margin-top: 7%;
}
#search > *{
    display: block;
    margin: 0 auto;
}
#search_field{
    width: 20%;
    margin-top: 30px;
    border-radius: 300px;
    transform: scale(1.5);
}
#button_group{
    margin-top: 30px;
    margin-bottom: 30px;
}
.button{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 6px 16px;
    text-align: center;
}
#under_button{
    font-size: 13px;
    font-family: arial,sans-serif;
}

#footer{
    background-color: #f2f2f2;
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0;
    font-family: arial,sans-serif;
    font-weight: 100;
    font-size: 14px;
}
#footer_country{
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
}
.footer_link{
    display: inline;
    margin-bottom: 5px;
}
#footer_hr{
    color: gray;
}